@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 40px;
}

.text {
position: absolute;
width: 450px;
left: 40%;
margin-left: -225px;
height: 40px;
/* add top to adjust the position */
top: 20%;
margin-top: -20px;
}

p {
display: inline-block;
vertical-align: top;
margin: 0;
}

.word {
position: absolute;
width: 320px;
opacity: 0;
}

.letter {
display: inline-block;
position: relative;
float: left;
transform: translateZ(25px);
transform-origin: 50% 50% 25px;
}

.letter.out {
transform: rotateX(90deg);
transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
transform: rotateX(-90deg);
}

.letter.in {
transform: rotateX(0deg);
transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
color: #8e44ad;
}

.belize {
color: #2980b9;
}

.pomegranate {
color: #c0392b;
}

.green {
color: #e7ff14;
}

.midnight {
color: #fa004b;
}
